<div id="wrapper">

  <!-- Main -->
  <section id="main">
    <header>
      <h3>Enter a Room</h3>
      <p>Join or create:</p>
      <form #roomForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="fields">
          <div class="field">
            <input type="text" required name="roomCode" id="roomCode" placeholder="Super secret code" [(ngModel)]="roomCode"
              #name="ngModel" />
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Room code is required.
            </div>
          </div>
        </div>
        <button type="submit" class="button" [disabled]="!roomForm.form.valid">Join</button>
      </form>
    </header>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <ul class="copyright">
      <li>&copy; Kevin J Nguyen</li>
    </ul>
  </footer>

</div>